
#webcam-container {
    position: absolute;
    top: 60%;
    opacity: 80%;
    left: 48%;    
}

#prediction-container {
    position: absolute;
    top: 20%;
    left: 42.5%;
    font-size: 4vw;
    color: rgb(255, 255, 255);
}

div#label-container {
    padding: 10px;
    background-color: rgb(255, 255, 255,0.3);
    margin-right: 85%;
}

a{
    margin: 10px;
}

body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: rgb(182,214,168);
    background: linear-gradient(0deg, rgba(182,214,168,1) 0%, rgba(255,255,255,1) 34%);
    height:100vh;
    padding:50px;
}
.card{
    border-radius:15px;
    height:80vh;
    padding:25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

img{
    padding-top:5%;
}

.card-sm{
    height:80vh;
}

h1{
    color:black;
}
a{
    text-decoration: none;
}